<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Main page</title>
    <link rel="stylesheet" type="text/css" href="files/css/main.css" />
  </head>
  <body>
    <h2>Padges</h2>
    <ul>
      <li><a href="/ping">/ping</a></li>
      <li><a href="/locale">/locale</a></li>
      <li>
        <a href="/echo-query/wegeargaergrarega"
          >/echo-query/wegeargaergrarega</a
        >
      </li>
      <li><a href="/echo-data">/echo-data</a></li>
      <li><a href="/address">/address</a></li>
      <li><a href="/error">/error</a></li>
      <li><a href="/files">/files</a></li>
      <li><a href="/upload">/upload</a></li>
      <li><a href="/stats">/stats</a></li>
    </ul>
  </body>
</html>
